{% extends "common/base_nosidebar.html" %}
{% load static %} 

{% block page_content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-5 col-xl-4 my-5">
      <div class="text-center">
        <h6 class="text-uppercase text-muted mb-4">500 error </h6>
        <h1 class="display-9 mb-3">Something went wrong!</h1>
        <h1 class="display-2 mb-2">😭</h1>
        <p class="text-muted mb-4"> Wait for few minutes and try again</p>
        <a href="/" class="btn btn-lg btn-primary">Return to Homepage</a>
      </div>  
    </div>
  </div> 
</div> 
{% endblock %}