{% extends "common/base_nosidebar.html" %}
{% load static %}

{% load allauth account socialaccount %}

{% block page_content %}

<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-xl-6 my-5">
        <div class="card mt-2 pt-2 shadow-sm">
            <div class="card-body">
                <h1 class="display-4 text-center mb-3">Sign In</h1>
                <p class="text-muted text-center mb-5">Access Django App 👋 🚀 <br/>
                <img src="{% static './assets/img/login.png' %}" class=" text-center img-fluid mb-2 mt-2" style="width:20rem;" alt="logout" />
                </p>
                <div class="row">
                    <div class="col-12 col-md-12 col-xl-12  text-center">
                        <a href="/accounts/google/login/?process=login&next=%2F" class="btn btn-lg btn-primary mb-3">
                            Sign in with Google
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}